{% extends "base.html" %}
{% block title %} OBJECT DETECTION {% endblock %}
{% block content %}
 <div class="container">
    <h3 class="text-dark text-center p-5 pb-4" >OBJECT DETECTION USING VGG16 AND OPENCV</h3>
   
   <div class="container">
         
       <div class="container p-3" style="background:#78374a">
         <div class="container pb-2">
           <h4 class="text-white">Upload a video</h4>
       </div>
       <form class="d-flex" method="POST" action="/upload" enctype="multipart/form-data"> 
           <input type="file" class="form-control form-control-sm w-25" name="videoInput">
           <button type="submit" style="background:#ead5f2; padding-left:20px; padding-right:20px; margin-left:20px" class="btn btn-sm text-dark">Sumbit</button>
       </form>
   </div>
   
      <div style="background:#e6d3dd">
           <div class="p-5 pb-1">
               <h5  class="pb-1 pt-5 text-uppercase">Search for objects in the videos </h5>
           </div>
           <form class="p-4 w-50 d-flex" method="POST" action="/search" >
                <input type="text" class="form-control form-control-sm" name="searchInput" placeholder="Search for objects in the videos. ... ">
                <button type="submit" style="background:#78374a; padding-left:20px; padding-right:20px; margin-left:20px" class="btn btn-sm text-white">Search</button>
           </form>
      </div>
       
   </div>
  <div>
    
{% endblock %}

